{% extends "layout.njk" %}

{% block head %}
    <title>Brain's - New Teacher</title>
{% endblock head %}

{% block content %}
    <form class="card" method="post" autocomplete="off" action="/teachers">
        
        <section 
            class="avatar" 
            style="background: url({{ teacher.avatar_url }}) no-repeat center center / cover">
        </section>
        
        <section class="info">
            <div>Editar Professor</div>
            
            {% include "teachers/fields.njk"%}
        
        </section>

    </form>
{% endblock content %}