{% extends "layout.njk" %}

{% block head %}
    <title>Brain's - Teachers</title>
{% endblock head %}

{% block content %}
    <div class="card">
        
        <section 
            class="avatar" 
            style="background: url({{ teacher.avatar_url }}) no-repeat center center / cover">
        </section>
        
        <section class="info">
            
            <div>Detalhes</div>
            
            <div class="item">
                <div>Nome Completo</div>
                <div>{{ teacher.name }}</div>
            </div>
            
            <div class="item">
                <div>Idade</div>
                <div>{{ teacher.age }}</div>
            </div>
            
            <div class="item">
                <div>Grau de Escolaridade</div>
                <div>{{ teacher.schooling }}</div>
            </div>
            
            <div class="item">
                <div>Tipo de Aula</div>
                <div>{{ "Presencial" if teacher.class_type == "P" else "Distância"  }}</div>
            </div>
            
            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    {% for subject in teacher.subjects %}
                        <span>{{ subject }}</span>
                    {% endfor %}
                </div>
            </div>
            
            <div class="item">
                <div>Desde</div>
                <div>{{ teacher.created_at }}</div>
            </div>

            <a class="button" href="#">Editar</a>
        
        </section>
    </div>
{% endblock content %}