{% extends "layout.njk" %}

{% block head %}
    <title>Brain's - New Teacher</title>
{% endblock head %}

{% block content %}
    <div class="card">
        <section 
            class="avatar" 
            style="background: url({{ teacher.avatar_url }}) no-repeat center center / cover">
        </section>
        <section class="info">
            <form method="post" autocomplete="off" action="/teachers?_method=PUT">
                        
                <div>Editar Professor</div>
                
                {% include "teachers/fields.njk"%}

                <input 
                    type="hidden" 
                    name="id"
                    value="{{ teacher.id }}"
                >
            </form>
            <form id="form-delete" action="/teachers?_method=DELETE" method="post">
                <input 
                    type="hidden" 
                    name="id"
                    value="{{ teacher.id }}"
                >

                <button type="submit">Deletar</button>            
            </form>
        </section>
    </div>

    {% include "confirm.njk" %}
    
{% endblock content %}