@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root{
    --color-main: #140c0c;
    --color-aux: #ee0d0d;
    --color-text: rgb(240, 243, 42);
}

*{
    margin:0;
    padding: 0;
    border:0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-main);
}

header{
    text-align: center;
    padding: 32px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color-aux);
}

.links a{
    font-size: 25px;
    text-decoration: none;
    color: var(--color-main);
    position: relative;
}

.links a + a{
    margin-left: 32px;
}

.links a.active{
    font-weight: bold;
    color: var(--color-text)
}

.links a::after{
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--color-text);
}

.links a:hover::after{
    width: 100%;
    transition: width 200ms ease-in-out;
}