{% extends "layout.njk" %}

{% block head %}

    <title>Rocketseat</title>
    <link rel="stylesheet" href="/styles.css">
    
{% endblock %}

{% block content %}
    <header>
        <a href="/">Conteúdos</a>
    </header>

    <div class="container">
        <img src="/images/logo.jpg" alt="logo_empresa">
        <h1>Rocketseat</h1>
        <h2>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h2>
        <ul>
            <li>React</li>
            <li>React Native</li>
            <li>Node.js</li>
        </ul>
        <div class="links">
            <a href="https://github.com/Rocketseat" target="_blank">Github</a>
            <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
            <a href="https://www.facebook.com/rocketseat/" target="_blank">Facebook</a>
        </div>
    </div>
{% endblock %}