{% extends "layout.njk" %}

{% block head %}

    <title>Rocketseat</title>
    <link rel="stylesheet" href="/styles.css">
    
{% endblock %}

{% block content %}
    
    <header>
        <a href="/">Conteúdos</a>
    </header>

    <div class="container">
        <img src="{{data.img_url}}" alt="imagem de {{data.name}}">
        <h1>{{data.name}}</h1>
        <h2>{{data.text}}</h2>
        <ul>
            {% for tech in data.tech %}
                <li>{{tech}}</li>
            {% endfor %}
        </ul>
        <div class="links">
            {% for link in data.link %}
                <a href="{{link.url}}" target="_blank">{{link.name}}</a>
            {% endfor %}
        </div>
    </div>

{% endblock %}