<script>
    const formDelete = document.querySelector("#form-delete")
    const total = document
        .querySelector('.total')
        .getAttribute('value')

    formDelete.addEventListener("click", function (submit) {
        if (total != 0) {
            alert("Este chefe ainda possui receitas e não pode ser deletado!")
            event.preventDefault()
        } else {
            const confirmation = confirm("Tem certeza que deseja deletar? Esta ação não poderá ser retornada.")
            if (!confirmation) {
                event.preventDefault()
            }
        }
    })
</script>