<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
        {% block head %}
            <title>Foodfy ® | Admin</title>
        {% endblock head %}
    </head>
    <body>
        <header class="admin">
            <img src="/images/logo_w.png" alt="logo_foodfy"/>

            <div class="links_admin">
                <a href="/admin/recipes">RECEITAS</a>
                <a href="/admin/chefs">CHEFS</a>
                <a href="/">Sair</a>
            </div>
        </header>

        {% block content %}{% endblock content %}

    </body>