@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root{
    --color-main: #140c0c;
    --color-aux: #ee0d0d;
    --color-text: rgb(240, 243, 42);
}

*{
    margin:0;
    padding: 0;
    border:0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-main);
}

header{
    text-align: center;
    padding: 32px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color-aux);
}

.links a{
    font-size: 25px;
    text-decoration: none;
    color: var(--color-main);
    position: relative;
}

.links a + a{
    margin-left: 32px;
}

.links a.active{
    font-weight: bold;
    color: var(--color-text)
}

.links a::after{
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--color-text);
}

.links a:hover::after{
    width: 100%;
    transition: width 200ms ease-in-out;
}

/*===CARD===*/
.card{
    width: 600px;
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 52px auto;
    background-color: var(--color-aux);
    box-shadow: 5px 5px rgba(0,0,0,0.8);
    animation: up 700ms ease-out;
}

@keyframes up{
    from{
        opacity: 0;
        transform: translateY(25px)
    }
    to{
        opacity: 1;
    }
}

/*===DETALHES===*/
.info{
    padding: 10px 24px;
}

.info .item{
    padding: 8px 0;
    border-bottom: 2px solid rgba(0,0,0,0.3);
}

.info .item:last-child{
    border:none;
}

.info .item div:nth-child(1){
    font-size: 12px;
    padding: 4px 0;
}

.info .item div:nth-child(2){
    font-size: 16px;
    padding-top: 4px;
    color: var(--color-main);
    font-weight: bold;
}

.info .item:first-child{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--color-text);
    font-weight: bold;
    font-size: 25px;
}

.info span{
    background-color: var(--color-text);
    border-radius: 16px;
    padding: 8px;
    margin-right: 4px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: normal;
}