<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            
        {% endblock %}
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    </head>
    <body>
        
        {% block content %}

        {% endblock %}

        {% include "footer.njk" %}

    </body>
</html>