<div class="item">
    <h4>Nome</h4>
    <input 
        type="text" 
        name="name" 
        value="{{ item.name }}"
    >
</div>

<div class="item">
    <h4>Avatar</h4>
    <input 
        type="url" 
        name="avatar_url" 
        placeholder="https://"
        value="{{ item.avatar_url }}"
    >
</div>