@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root{
    --color-main: #140c0c;
    --color-aux: #ee0d0d;
    --color-text: rgb(240, 243, 42);
}

*{
    margin:0;
    padding: 0;
    border:0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-main);
}

header{
    text-align: center;
    padding: 32px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color-aux);
}

.links a{
    font-size: 25px;
    text-decoration: none;
    color: var(--color-main);
    position: relative;
}

.links a + a{
    margin-left: 32px;
}

.links a.active{
    font-weight: bold;
    color: var(--color-text)
}

.links a::after{
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--color-text);
}

.links a:hover::after{
    width: 100%;
    transition: width 200ms ease-in-out;
}

/*===CARD===*/
.card{
    width: 680px;
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 52px auto;
    background-color: var(--color-aux);
    box-shadow: 5px 5px rgba(0,0,0,0.8);
    animation: up 700ms ease-out;
}

@keyframes up{
    from{
        opacity: 0;
        transform: translateY(25px)
    }
    to{
        opacity: 1;
    }
}

/*===DETALHES===*/
.info{
    padding: 32px;
    min-height: 430px;
}

.info .item{
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(0,0,0,0.3);
}

.info .item:last-child{
    border: none;
}

.info div:first-child{
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-text);
    margin-bottom: 16px;
}

.info .item div:nth-child(1){
    font-size: 12px;
    margin-bottom: 8px;
    letter-spacing: 1px;
    color: black;
    text-transform: none;
}

.info .item div:nth-child(2){
    font-weight: bold;
    margin-bottom: 4px;
}

.info .item span{
    padding: 6px;
    background-color: var(--color-text);
    border-radius: 16px;
    margin-right: 4px;
    display: inline-block;
    font-weight: normal;
    margin-bottom: 4px;
}

/* === FORM === */
input,
select{
    width: 100%;
    outline: none;
    background-color: var(--color-aux);
    font-size: 16px;
    font-weight: bold;
}

input[type="radio"]{
    width: initial;
    margin-right: 4px;
}

input::placeholder{
    color: var(--color-main);
    font-weight: normal;
}

select{
    margin-bottom: 4px;
    background-color: var(--color-aux);
}

button[type="submit"],
.button {
    width: 100%;
    padding: 12px;
    border-radius: 16px;
    background-color: var(--color-text);
    font-weight: bold;
}

.button{
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    color: var(--color-main);
}

#form-delete button[type="submit"]{
    margin-top: 8px;
    background-color: var(--color-main);
    color: var(--color-aux)
}

/* === TABLE TEACHER === */
.table-container{
    display: block;
    padding: 32px;
    box-sizing: border-box;
}

.table-container table thead{
    text-align: left;
}

table{
    border-spacing: 0;
}

th, td{
    padding: 16px;
    border-bottom: 2px solid rgba(0,0,0,0.3);
}

td:nth-child(2),
td:nth-child(3){
    text-align: center;
}

tbody tr td:first-child{
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
}

tbody tr td:first-child span{
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 2px 1px 8px 4px black;
    border: 1px solid white;
}

th{
    text-transform: uppercase;
    font-size: 14px;
    color: var(--color-main);
    text-align: center;
}

tbody tr td:last-child a,
.table-container > a,
.table-container .header a{
    background-color: var(--color-text);
    padding: 12px;
    border-radius: 4px;
    font-size: 12px;
    text-decoration: none;
    color: black;
}

.table-container > a,
.table-container .header a{
    margin-bottom: 16px;
    display: inline-block;
    font-weight: bold;
}

tbody tr:last-child td{
    border-bottom :none;
}

th:last-child, td:last-child{
    text-align: center;
}

tbody tr td:nth-child(2) span{
    padding: 6px;
    background-color: var(--color-text);
    border-radius: 16px;
    margin-right: 4px;
    display: inline-block;
    font-weight: normal;
    margin-bottom: 4px;
    font-size: 14px;
} 

thead tr th:nth-child(2){
    padding-left: 22px;
}

/* === FILTER === */
.table-container .header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 32px;
}

.table-container .header a{
    width: 28px;
    margin: 0;
}

.table-container .header form{
    display: grid;
    grid-template-columns: 1fr 60px;
    gap: 8px
}

.table-container .header button{
    padding: 12px;
    border-radius: 4px;
}

.table-container .header input{
    border: 1px solid var(--color-main);
    border-radius: 4px;
    padding: 4px 8px;
    box-sizing: border-box;
}

/* === PAGINATION === */
.table-container table{
    margin-bottom: 16px;
}

.pagination{
    text-align: center;
}

.pagination a,
.pagination span{
    margin-right: 16px;
    text-decoration: none;
    color: var(--color-text);
}

.pagination a:hover{
    filter: brightness(0.4);
    border-bottom: 1px solid var(--color-text);
}